/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
:root {
  --main-color: #886644;
  --secondary-color: #f5f3f1;
  --third-color: #948678;
  --main-font: 'Old Standard TT', serif;
  --subtitle-font: 'Open Sans Condensed', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

/* main homepage picture */
.header {
  background-image: url("images/face.jpg");
  filter: grayscale(90%);

  /* image height */
  height: 600px;

  /* scroll effect for picture */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* title of name */
.header h1 {
  font-family:var(--main-font);
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4rem 1rem 0rem 1rem;
  margin: 0;
  color: var(--secondary-color);
}

.header h3 {
  font-family:var(--main-font);
  font-size: 1.2rem;
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  color: var(--secondary-color);
}

/* social links */
.header-icons {
  padding: 0rem 14rem 0rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 26rem;
}

/* link to cv PDF */
.header-icons button {
  background-color: black;
  font-size: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: gray;
}

.header-icons button:hover {
  background-color: var(--secondary-color);
}

/* PAGE TEXT */
.content div {
  display: flex;
  padding: 1.5rem;
  align-items: center;
  flex-direction: column;
  margin: 0rem 0rem 4rem 0rem;
  font-family:'Open Sans Condensed', sans-serif;;
}

/* index.htm button images */
.button img {
  display: flex;
  width: 20%;
  align-items: center;
  display: block;
  margin: auto;
}

img:hover {
  background-color: var(--secondary-color);
}

/* FONT on most pages */
h2 {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 2rem;
  text-align: center;
}

/* FONT subtitles */
h4 {
  font-family: var(--main-font);
  color: var(--third-color);
  font-size: 1.1rem;
  text-align: center;
}

/* PARA on most pages  */
p {
  /* font-family: */
  color: black;
  text-align: center;
  font-family:var(--subtitle-font);
}

/* footer- button and link to contact page */
.footer-button-contact {
  display: flex;
  padding: 1rem;
  color: var(--third-color);
  font-family: var(--main-font);
  text-decoration-style: dotted;
  justify-content: center;
  text-align: center;
}
/* footer - hover of button */
.footer-button-contact:hover {
  background-color: var(--secondary-color);
  width: 100%;
}

/* footer - link to homepage on other pages */
footer button {
  background-color: black;
  font-size: 1rem;
  color:var(--third-color);
  display: flex;
  text-align: center;
  margin: auto;
  font-family: var(--main-font);
}

footer button:hover {
  background-color: var(--secondary-color);
}

/*whole footer */
footer {
  background-color: rgba(0, 0, 0, 0.673);
  position: fixed;
  bottom: 0;
  left:0;
  right: 0;
  width: 100%;
  height: 6rem;
  margin: 0.5rem;
}

footer p {
  color: white;
  font-size: 0.8rem;
  margin: 0.5rem;
  font-family:var(--main-font);
}

/* navbar on other pages */
.navbar{
  background-color: rgba(0, 0, 0, 0.673);
  display:flex;
  justify-content:space-evenly;
}

.navbar a{
  color: white;
  font-style:var(--subtitle-font);
}

/* other pages layout */
.container-row {
  display: flex;
}

/* previously page split */
.container-row .img-previously {
  flex: 1;
  filter: grayscale(90%);
}

.container-row .text-previously {
  flex: 2;
}

/* currently page split */
.container-row .text-currently {
  flex: 1;
}

.container-row .img-currently {
  flex: 1;
  filter: grayscale(90%);
}

.header-goals {
  background-image: url("images/smile.jpg");
  background-position: initial;
  background-size: cover;
  min-height: 300px;
  filter: grayscale(90%);
}

.header-goals h1 {
  font-family:var(--main-font);
  font-size: 9rem;
  align-content: center;
  padding: 6rem 1rem 0rem 1rem;
  margin: 0;
  color: var(--secondary-color);
}

/* form */
form {
  font-size: 1.2rem;
  font-weight: bold;
  display:flex;
  align-content: center;
  flex-direction: column;
}

textarea {
  height: 10rem;
  width: 80%;
}

input {
  width: 50%;
}

.submit {
  background-color: var(--main-color);
  color: white;
  font-size: 1rem;
  padding: 15px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align:center;
}

.submit:hover{
  background-color: var(--secondary-color);
}

/* Blog Headers */
/* .Blog {
  background-image: url("bookmark.jpg");
  background-position: initial;
  background-size: cover;
  min-height: 300px;
} */

/* blog structure in relation with footer */
/* .Blog ol{
  margin: 0rem 0rem 4rem 0rem;
} */

/* blog background images */
.image {
  width: 200px;
  height:200px;
  position: relative;
}

article {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 100%;
}

/* main blog page github link  */
.bloglink a:visited{
  color:var(--third-color);
}

.bloglink a:link{
  color:var(--third-color);
}

/* media queries */
/* Medium Devices, Desktops */
@media only screen and (min-width: 600px) {
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  .content div {
    width: 50%;
  }
}

@media only screen and (min-width: 1000px) {
  .content {
    display: flex;
  }
  .content div {
    width: 100%;
    flex: 1;
  }
}
/* notes: 

form:
- fix reset on form 
- email button not working 

previously
-fix image in larger views - doesnt expand 

currently 
- image on wrong side 

Blogs main
-change images 
- A list of blog posts with titles and date published
- A blog with FIVE sample posts (placeholder text can be used), blog posts need to have at least ONE image each

footer
- add CV?


fix images! - not big load times 

contact page
- check font
- add picture 


TO DO 
- check the html checker and CSS checker 
- double check all text 