/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
:root {
  --main-color: #886644;
  --secondary-color: #f5f3f1;
  --third-color: #948678;
  --main-font: 'Old Standard TT', serif;
  --subtitle-font: 'Open Sans Condensed', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

/* main homepage picture */
.header {
  background-image: url("images/face.jpg");
  filter: grayscale(90%);

  /* image height */
  height: 600px;

  /* scroll effect for picture */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* title of name */
.header h1 {
  font-family:var(--main-font);
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4rem 1rem 0rem 1rem;
  margin: 0;
  color: var(--secondary-color);
  width: 60%
}

/* job title in header */
.header h3 {
  font-family:var(--main-font);
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  color: var(--secondary-color);
  width: 60%;
}

/* social links */
.header-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  margin: 0 0 0 1rem;
}

/* link to cv PDF */
.header-icons button {
  background-color: black;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: gray;
}

/* social links hover */
.header-icons button:hover {
  background-color: var(--secondary-color);
}

/* HOMEPAGE TEXT */
.content div {
  display: flex;
  padding: 1.5rem;
  align-items: center;
  flex-direction: column;
  margin: 0rem 0rem 4rem 0rem;
  font-family:'Open Sans Condensed', sans-serif;;
}

/* index.html button images */
.button img {
  display: flex;
  align-items: center;
  display: block;
  margin: auto;
}

/* individual html hovers on images */
.button img:hover {
  background-color: var(--secondary-color);
  border: solid 0.3rem var(--main-color);
}

/* FONT on most pages */
h2 {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 2rem;
  text-align: center;
}

/* FONT subtitles */
h4 {
  font-family: var(--main-font);
  color: var(--third-color);
  font-size: 1.1rem;
  text-align: center;
}

/* FONT on form */
h5{
  font-family: var(--main-font);
  color: var(--third-color);
  margin: 0;
}

/* PARA on most pages  */
p {
  /* font-family: */
  color: black;
  text-align: center;
  font-family:var(--subtitle-font);
}

/* footer- button and link to contact page */
.footer-button-contact {
  display: flex;
  padding: 1rem;
  color: var(--third-color);
  font-family: var(--main-font);
  text-decoration-style: dotted;
  justify-content: center;
  text-align: center;
}
/* footer - hover of button */
.footer-button-contact:hover {
  background-color: var(--secondary-color);
  width: 100%;
}

/*whole footer */
footer {
  background-color: rgba(0, 0, 0, 0.673);
  position: fixed;
  bottom: 0;
  left:0;
  right: 0;
  width: 100%;
  height: 6rem;
  margin: 0.5rem;
}

/* copywright text */
footer p {
  color: white;
  font-size: 0.8rem;
  margin: 0.5rem;
  font-family:var(--main-font);
}

/* navbar on other pages */
.navbar{
  background-color: rgba(0, 0, 0, 0.673);
  display:flex;
  justify-content:space-evenly;
}

/* nav bar font */
.navbar a{
  color: white;
  font-style:var(--subtitle-font);
}

/* currently page - split */
.container-row {
  display:flex;
  flex-direction:row-reverse;
  filter: grayscale(90%);
}

/* gap below image and footer */
.container-row img{
  margin: 0rem 0rem 5.7rem 0rem;
}

.container-row2 img{
  margin: 0rem 0rem 5.7rem 0rem;
}

/* previously pages layout */
.container-row2 {
  display: flex;
  filter: grayscale(90%);
}

.content-pages div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0rem 0rem 4rem 0rem;
  font-family:'Open Sans Condensed', sans-serif;;
}

/* goals header image */
.header-goals {
  background-image: url("images/smile.jpg");
  background-position: initial;
  background-size: cover;
  min-height: 300px;
  filter: grayscale(90%);
}

/* goals header text */
.header-goals h1 {
  font-family:var(--main-font);
  font-size: 9rem;
  align-content: center;
  padding: 6rem 1rem 0rem 1rem;
  margin: 0;
  color: var(--secondary-color);
}

/* FORM HERE */

/* text with image layout */
.content{
  display:flex;
}

.content img {
  max-width: 30%;
  max-height:30%;;
  margin: 2rem;
  justify-content: space-between;
}
/* FORM on contact page */
form {
  font-size: 1.2rem;
  font-weight: bold;
  display:flex;
  align-content: center;
  flex-direction: column;
}

/* FORM - input  */
textarea {
  height: 10rem;
  width: 80%;
}

/* FORM submit button */
.submit {
  background-color: var(--main-color);
  color: white;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align:center;
  padding: 1rem;
  margin: 0rem 0rem 3rem 0rem;
}

.submit:hover{
  background-color: var(--secondary-color);
}

/* BLOG responsive image */
.textover img {
  width:100%;
}

/* article text over image */
.textover {
  position:relative;
  margin: 0rem 0rem 5.7rem 0rem;
}

.textover article {
  position: absolute;
  background-color:#f5f3f1;
  top: 10%;
  right:5%;;
  width:60%;
  border: solid var(--third-color);
  border-radius: 1rem;
}

.textover article p{
  text-align: left;
}

/* BLOG page github link - visited  */
.bloglink a:visited{
  color:var(--third-color);
}

/* BLOG page github link - pre visit  */
.bloglink a:link{
  color:var(--third-color);
}

/* media queries */
/* Medium Devices, Desktops */
@media only screen and (min-width: 600px) {
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  .content div {
    width: 50%;
  }

  /* currently and previously pages  */
  .content-pages{
    display: flex;
    flex-wrap: wrap;
  }

  .container-row img{
  width: 100%;
  }

  .container-row2 img{
  width: 100%;
  }

  .text{
  width: 70%;
  }

  .textover img{
    size: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  .content {
    display: flex;
  }
  .content div {
    width: 100%;
    flex: 1;
  }

/* currently and previously pages  */
  .content-pages {
    display: flex;
  }
  .content-pages div {
    width: 100%;
    flex: 1;
  }
/* notes: 


form:
- fix reset on form 
- email button not working 

ALL 
-description 


TO DO 
- check the html checker and CSS checker 

transfer folders of all portfolio 

do the read me
finis ppt slides 