/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,300&family=Shizuru&display=swap");
:root {
  --main-color: rgb(108, 39, 135);
  --secondary-color: rgba(230, 202, 240, 0.961);
  --main-font: "Cormorant Garamond", serif;
  /* --subtitle-font: Cormorant+Garamond:wght@300 */
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  height: 100%
  width: 100%
}

/* main homepage picture */
.header {
  background-image: url("images/eyes.jpg");
  background-position: bottom;
  background-size: cover;
  min-height: 300px;
  filter: grayscale(90%);
}
/* title of name */
.header h1 {
  font-family: --main-font;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4rem 1rem 0rem 1rem;
  margin: 0;
  color: black;
}

.header h3 {
  font-family: --main-font;
  font-size: 1.2rem;
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
}

/* social links */
.header-icons {
  padding: 0rem 14rem 0rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 26rem;
}

/* link to cv PDF */
.header-icons button {
  background-color: black;
  font-size: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: grey;
}

.header-icons button:hover {
  background-color: white;
}

/* includes page links, text & pictures with button */
.content div {
  display: flex;
  padding: 2rem;
  align-items: center;
  flex-direction: column;
}

.button img {
  display: flex;
  width: 20%;
  align-items: center;
  display: block;
  margin: auto;
}

img:hover {
  background-color: rgba(230, 202, 240, 0.961);
}

h2 {
  font-family: var(--main-font);
  color: rgb(108, 39, 135);
  font-size: 2rem;
}

p {
  /* font-family: */
  color: black;
  text-align: center;
}

/* link to contact page */
.footer-button-contact {
  display: flex;
  padding: 1rem;
  color: white;
  text-decoration-style: dotted;
  justify-content: center;
  text-align: center;
}

.footer-button:hover {
  box-shadow: rgba(230, 202, 240, 0.961);
  width: 100%;
}

/* link to homepage */
footer button {
  background-color: black;
  font-size: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: grey;
}

/* whole footer */
footer {
  background-color: rgba(0, 0, 0, 0.673);
  height: 100%;
  width: 100%;
}

footer p {
  color: white;
  font-size: 0.8rem;
  margin: 0.5rem;
}

/* images on other pages */

.img-previously {
  background-position: left;
  background-size: cover;
  min-height: 800px;
  max-width: 300px;
  filter: grayscale(90%);
}

.img-currently {
  background-position: right;
  background-size: cover;
  min-height: 800px;
  max-width: 300px;
  filter: grayscale(90%);
}

/* border includes link to contact page, cv and copyright */

/* media queries */

/* Medium Devices, Desktops */
@media only screen and (min-width: 600px) {
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  .content div{
    width: 50%;
  }
}

@media only screen and (min-width: 1000px) {
  .content {
    display: flex;
  }
    .content div{
    width: 100%;
    flex: 1;
  }
}
/* notes: 
- on each page have "return to homepage" and "get in contact" buttons
- center header*/
